@import url('/css/font-awesome.css');

body {
	padding-top: 10px;
	padding-bottom: 5px;
}
.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.fuelux .modal-body {
	max-height: 100%; /* override default */
}

.fuelux .checkbox {
	margin-bottom: 0; /* override default */
}

.fuelux label {
	margin-bottom: 0; /* override default */
}

#editor { 
	position: relative;
	top: 0;
	left: 0;
	width: 99%;
	height: 99%;
	border:1px solid #808080;
}

#previewPane {
	width: 99%;
	height: 500%;
}

.nav.nav-tabs {
	margin-top: 5px;
}

#editorPane {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tree {
	height: 300px
}

.accordion {
	/*height: 460px;*/
	height: 100%;
	overflow: auto;
}
.accordion-toggle {
	overflow:hidden; 
	text-overflow:ellipsis
}
.accordion-heading a {
	overflow:hidden; 
	text-overflow:ellipsis;
	font-size:large;
}
.fuelux .accordion-group .sub-group {
	border: none;
}
.accordion-heading a.accordion-toggle.accordion-sub {
	/*background-color: #EBF0F5;*/
	font-size:small;
	overflow:hidden; 
	text-overflow:ellipsis;
	padding-top: 2px;
	padding-bottom: 2px;
}	
.kbd {
	padding: 2px;
	border: solid 1px #A9A9A9;
}
#shortcuts ul, menu, dir {
 list-style-type: none!important;
 padding:0;
 margin:0;
}
.icon-plus-sign {
	background: url(../img/plus-icon.png) no-repeat !important;
	width: 13px;
	height: 13px;
	float: right;
}

.imgLoader {
	content:url("/img/fbloader.gif");
}

.action-icons {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	max-width: 70px;
}
.action-icons span {
	margin: 0 3px;
	padding: 0 8px;
	background: url('../img/action-icons-sprite.png');
	cursor: pointer;
}
.action-icons .copy {
	background-position: 0px 47px;
}
#copy-button.zeroclipboard-is-hover > span {
	background-position: 16px 47px;
}
#copy-button.zeroclipboard-is-active > span {
	background-position: 0px 31px;
}

/* Override default to make top tighter */
.fuelux .well-small {
	padding: 5px 9px 5px 9px;
}	

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.offscreen {
    position: absolute;
    left: -999em;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
